<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
            crossorigin="anonymous">

        {% include 'base/css.html' %}
        <!--<script src="https://www.w3schools.com/lib/w3color.js"></script>-->

        <title>Color converter</title>
    </head>
    <body>


        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <h1>Color Converter</h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <h2>{{ startcolorformat }} to {{ targetcolorformat }}</h2>
                </div>
            </div>
        </div>


        <br>
        <div class="container" style="background-color:#f1f1f1;border:1px solid #d3d3d3;">

            


            <div class="row">
                <div class="col l6 mt-3">

                    <h3>Enter a Color:</h3>

                    <label><span class="w3-text-grey"><i>name, hex, rgb, hsl, hwb, cmyk, ncol:</i></span></label>

                    <input id="color01" type="text" value="{{ color }}" class="w3-input w3-border" oninput="convertColor()" onchange="validateColor()" onkeydown="submitOnEnter(event)">

                    <br>

                    <div class="resultStrings">
                        <div id="error01"></div>
                            
                        <table id="resultTable">
                            <tr><td id="helpname01"></td><td id="name01"></td></tr>
                            <tr><td id="helprgb01"></td><td id="rgb01"></td></tr>
                            <tr><td id="helphex01"></td><td id="hex01"></td></tr>
                            <tr><td id="helphsl01"></td><td id="hsl01"></td></tr>
                            <tr><td id="helphwb01"></td><td id="hwb01"></td></tr>
                            <tr><td id="helpcmyk01"></td><td id="cmyk01"></td></tr>        
                            <tr><td id="helpncol01"></td><td id="ncol01"></td></tr>
                            <!--<tr><td id="helpasterix" colspan="2">*Not a web standard.</td></tr>-->

                        </table>
                    </div>
                </div>

                <div class="col l6" style="padding:40px 40px 10px 40px;">

                    <div id="behindresult01">
                        <div style="height:294px" id="result01">&nbsp;</div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col">

                    <div id="linktocp"></div>

                </div>
            </div>

            

        </div>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
        </div>
    

    </body>

<script>
function convertColor() {
    color = document.getElementById("color01").value;
    if (color == "") {
        validateColor();
        return;
    }
    color = color.toLowerCase();
    //document.getElementsByTagName("h1")[0].style.color = w3color(color).toRgbString();
    c = w3color(color);
    if (c.valid) {
        document.getElementById("resultTable").style.display = "table";
        document.getElementById("error01").innerHTML = "";
        document.getElementById("result01").style.backgroundColor = c.toRgbaString();
        if (c.toName() == "") {
            document.getElementById("name01").style.fontStyle = "italic";
            document.getElementById("name01").style.color = "#757575";
            document.getElementById("name01").innerHTML = "no name";
        } else {
            document.getElementById("name01").style.fontStyle = "normal";
            document.getElementById("name01").style.color = "#000000";
            document.getElementById("name01").innerHTML = c.toName();
        }
        document.getElementById("helpname01").innerHTML = "Name";
        document.getElementById("hex01").innerHTML = c.toHexString();

        //document.getElementById("helphex01").innerHTML = "<a href='colors_hexadecimal.asp?color=" + c.toHexString().substr(1) + "'>Hex</a>";
        //document.getElementById("cmyk01").innerHTML = c.toCmykString();
        //document.getElementById("helpcmyk01").innerHTML = "<a href='colors_cmyk.asp?color=" + c.toCmykStringDecimal() + "'>Cmyk</a>";
        //document.getElementById("helpncol01").innerHTML = "<a href='colors_ncol.asp?color=" + c.toNcolStringDecimal() + "'>Ncol</a>";
        document.getElementById("helphex01").innerHTML = "<a href='/hex'>Hex</a>";
        document.getElementById("cmyk01").innerHTML = c.toCmykString();
        document.getElementById("helpcmyk01").innerHTML = "<a href='/cmyk'>Cmyk</a>";
        document.getElementById("helpncol01").innerHTML = "<a href='/ncol'>Ncol</a>";

        if ((color.indexOf("rgba") > -1 || color.indexOf("hsla") > -1 || color.indexOf("hwba") > -1 || color.indexOf("ncola")) > -1
            || (color.indexOf("cmyk") == -1 && color.split(",").length == 4)
            || (color.indexOf("cmyk") > -1 && color.split(",").length == 5)) {
            document.getElementById("rgb01").innerHTML = c.toRgbaString();
            document.getElementById("hsl01").innerHTML = c.toHslaString();
            document.getElementById("hwb01").innerHTML = c.toHwbaString();
            document.getElementById("ncol01").innerHTML = c.toNcolaString();
            document.getElementById("helprgb01").innerHTML = "Rgba";
            document.getElementById("helphsl01").innerHTML = "Hsla";
            document.getElementById("helphwb01").innerHTML = "Hwba";
        } else {
            document.getElementById("rgb01").innerHTML = c.toRgbString();
            document.getElementById("hsl01").innerHTML = c.toHslString();
            document.getElementById("hwb01").innerHTML = c.toHwbString();
            document.getElementById("ncol01").innerHTML = c.toNcolString();

            //document.getElementById("helprgb01").innerHTML = "<a href='colors_rgb.asp?color=" + c.toRgbString() + "'>Rgb</a>";
            //document.getElementById("helphsl01").innerHTML = "<a href='colors_hsl.asp?color=" + c.toHslStringDecimal() + "'>Hsl</a>";
            //document.getElementById("helphwb01").innerHTML = "<a href='colors_hwb.asp?color=" + c.toHwbStringDecimal() + "'>Hwb</a>";
            document.getElementById("helprgb01").innerHTML = "<a href='/rgb'>Rgb</a>";
            document.getElementById("helphsl01").innerHTML = "<a href='/hsl'>Hsl</a>";
            document.getElementById("helphwb01").innerHTML = "<a href='/hwb'>Hwb</a>";
        }

        //document.getElementById("linktocp").innerHTML = "<hr style='border-color:#dfdfdf'><p><a href='colors_picker.asp?color=" + c.toHexString().substr(1) + "'>Use this color in our Color Picker</a></p>";
        document.getElementById("linktocp").innerHTML = "<hr style='border-color:#dfdfdf'><p><a href='/'>back to any to any conversion</a></p>";
        
    } else {
        validateColor();
    }
}
function validateColor() {
    var color, c, x, i, l;
    color = document.getElementById("color01").value;
    c = w3color(color);
    if (color == "" || !c.valid) {
        document.getElementById("result01").style.backgroundColor = "#f1f1f1";
        document.getElementById("resultTable").style.display = "none";
        document.getElementById("error01").innerHTML = "Not a legal color value";
        document.getElementById("hex01").innerHTML = "";
        document.getElementById("rgb01").innerHTML = "";
        document.getElementById("hsl01").innerHTML = "";
        document.getElementById("hwb01").innerHTML = "";
        document.getElementById("ncol01").innerHTML = "";
        document.getElementById("helpname01").innerHTML = "";
        document.getElementById("helphex01").innerHTML = "";
        document.getElementById("helprgb01").innerHTML = "";
        document.getElementById("helphsl01").innerHTML = "";
        document.getElementById("helphwb01").innerHTML = "";
        document.getElementById("helpncol01").innerHTML = "";
    } else {
        document.getElementById("resultTable").style.display = "table";
        document.getElementById("error01").innerHTML = "";
    
        convertColor();
    }
}
function submitOnEnter(e) {
    keyboardKey = e.which || e.keyCode;
    if (keyboardKey == 13) {
        validateColor();
    }
}

convertColor();
</script>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
    <script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
crossorigin="anonymous"></script>

  </body>
</html>